[submodule "docker-magento"]
	path = docker-magento
	url = https://github.com/markshust/docker-magento
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/nguyentruongterabyte/wordpress
